@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Buda:wght@300&family=Italiana&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-global-background: var(--global-background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-index-background: var(--index-background);
  --color-index-background2: var(--index-background2);
  --animate-wiggle: wiggle 1s ease-in-out 2 forwards;
  --animate-shake: shake 0.2s ease-in-out 1;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0.5%);
      filter: blur(1px);
    }
    25% {
      transform: translateX(-0.5%);
    }
    50% {
      transform: translateX(0.5%);
    }
    100% {
      transform: translateX(-0.5%);
    }
  }

  --animate-quickspin: spin 2s ease-in-out;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

@layer utilities {
  .aero {
    @apply bg-background/20 border-foreground/20;
  }
  .mx-content {
    @apply mx-6 md:mx-8;
  }

  .text-logo {
    @apply font-sans text-lg font-normal;
  }
  .neon {
    @apply shadow-[0_0_10px_#ffffff7f,0_0_15px_var(--accent),0_0_30px_var(--accent)] hover:shadow-[0_0_20px_#ffffff7f,0_0_15px_var(--accent),0_0_30px_var(--accent)];
  }
}

@theme {
  --font-cursive: "Zeyada", cursive;
}

@layer components {
  .link {
    @apply text-secondary cursor-pointer transition-all duration-400 ease-in-out hover:scale-102;
  }
  .mousecolor {
    @apply bg-accent absolute -z-50 hidden aspect-square w-44 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-[0_0_5px_#ffffff,0_0_5px_,0_0_150px_var(--accent),0_0_120px_var(--accent)] lg:block;
  }
  .mouselight {
    @apply absolute -z-50 hidden aspect-square w-44 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white/70 shadow-[0_0_5px_#ffffff,0_0_5px_,0_0_150px_var(--accent),0_0_120px_var(--accent)] lg:block;
  }
  h1 {
    @apply mb-1 font-sans text-3xl;
  }
  h2 {
    @apply mb-1 font-sans text-2xl sm:text-2xl;
  }
  h3 {
    @apply text-lg sm:text-xl;
  }
}

@layer base {
  /* .indigoChild */
  :root {
    @apply text-foreground bg-black font-sans font-normal;

    --font-weight-light: 100;
    --font-weight-normal: 200;
    --font-weight-semibold: 300;
    --font-weight-bold: 500;

    --font-serif: "Italiana";
    --font-sans: "Nunito";
    --radius: 0.625rem;

    --global-background: theme(colors.zinc.200);
    --index-background: theme(colors.zinc.700);
    --index-background2: theme(colors.white);

    --background: theme(colors.white);
    --foreground: theme(colors.black);

    --primary: theme(colors.white);
    --primary-foreground: theme(colors.black);

    --secondary: theme(colors.indigo.500);
    --secondary-foreground: oklch(0.985 0 0);

    --accent: theme(colors.indigo.400);
    --accent-foreground: oklch(0.985 0 0);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    --destructive: theme(--color-red-700);
    --border: oklch(0.922 0 0);
    --input: theme(colors.white);
    --ring: theme(colors.indigo.500);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .seeker {
    --global-background: theme(colors.slate.900);
    --index-background: theme(colors.slate.800);
    --index-background2: theme(colors.slate.900);

    --background: theme(colors.zinc.800);
    --foreground: theme(colors.white);

    --primary: theme(colors.zinc.900);
    --primary-foreground: theme(colors.white);

    --secondary: theme(colors.indigo.500);
    --secondary-foreground: theme(colors.white);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: theme(colors.indigo.400);
    --accent-foreground: theme(colors.white);

    --destructive: theme(--color-rose-500);
    --border: oklch(1 0 0 / 10%);

    --input: oklch(1 0 0 / 15%);
    --ring: theme(colors.slate.700);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  .lightworker {
    --global-background: theme(colors.gray.200);
    --index-background: theme(colors.gray.700);
    --index-background2: theme(colors.gray.100);

    --background: theme(colors.gray.100);
    --foreground: theme(colors.gray.900);

    --primary: theme(colors.sky.100);
    --primary-foreground: theme(colors.gray.900);

    --secondary: theme(colors.blue.400);
    --secondary-foreground: oklch(0.985 0 0);

    --accent: theme(colors.blue.300);
    --accent-foreground: oklch(0.985 0 0);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    --destructive: theme(--color-red-400);
    --border: oklch(0.922 0 0);
    --input: theme(colors.gray.100);
    --ring: theme(colors.blue.300);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  .pilgrim {
    --global-background: theme(colors.slate.900);
    --index-background: theme(colors.slate.800);
    --index-background2: theme(colors.slate.900);

    --background: theme(colors.zinc.800);
    --foreground: theme(colors.white);

    --primary: theme(colors.zinc.900);
    --primary-foreground: theme(colors.white);

    --secondary: theme(colors.teal.500);
    --secondary-foreground: theme(colors.white);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: theme(colors.teal.500);
    --accent-foreground: theme(colors.white);

    --destructive: theme(--color-rose-700);
    --border: oklch(1 0 0 / 10%);

    --input: oklch(1 0 0 / 15%);
    --ring: theme(colors.teal.700);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
  .starseed {
    --global-background: theme(colors.zinc.100);
    --index-background: theme(colors.rose.400);
    --index-background2: theme(colors.zinc.100);

    --background: theme(colors.zinc.100);
    --foreground: theme(colors.zinc.800);

    --primary: theme(colors.white);
    --primary-foreground: theme(colors.zinc.800);

    --secondary: theme(colors.orange.400);
    --secondary-foreground: theme(colors.white);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: theme(colors.orange.400);
    --accent-foreground: theme(colors.white);

    --destructive: theme(--color-rose-400);
    --border: oklch(1 0 0 / 10%);

    --input: oklch(1 0 0 / 15%);
    --ring: theme(colors.orange.300);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  .oldSoul {
    --global-background: theme(colors.neutral.900);
    --index-background: theme(colors.pink.950);
    --index-background2: theme(colors.neutral.900);

    --background: theme(colors.neutral.700);
    --foreground: theme(colors.neutral.100);

    --primary: theme(colors.neutral.900);
    --primary-foreground: theme(colors.neutral.100);

    --secondary: theme(colors.orange.500);
    --secondary-foreground: theme(colors.white);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: theme(colors.amber.600);
    --accent-foreground: theme(colors.white);

    --destructive: theme(--color-red-600);
    --border: oklch(1 0 0 / 10%);

    --input: oklch(1 0 0 / 15%);
    --ring: theme(colors.amber.700);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  .sage {
    --global-background: theme(colors.neutral.200);
    --index-background: theme(colors.indigo.700);
    --index-background2: theme(colors.white);

    --background: theme(colors.white);
    --foreground: theme(colors.neutral.800);

    --primary: theme(colors.white);
    --primary-foreground: theme(colors.neutral.800);

    --secondary: theme(colors.lime.400);
    --secondary-foreground: oklch(0.985 0 0);

    --accent: theme(colors.lime.400);
    --accent-foreground: oklch(0.985 0 0);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    --destructive: theme(--color-rose-400);
    --border: oklch(0.922 0 0);
    --input: theme(colors.white);
    --ring: theme(colors.lime.300);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  .wanderer {
    --global-background: theme(colors.neutral.900);
    --index-background: theme(colors.indigo.900);
    --index-background2: theme(colors.emerald.950);

    --background: theme(colors.neutral.600);
    --foreground: theme(colors.neutral.100);

    --primary: theme(colors.neutral.900);
    --primary-foreground: theme(colors.neutral.100);

    --secondary: theme(colors.emerald.500);
    --secondary-foreground: theme(colors.neutral.100);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: theme(colors.emerald.800);
    --accent-foreground: theme(colors.neutral.100);

    --destructive: theme(--color-rose-500);
    --border: oklch(1 0 0 / 10%);

    --input: oklch(1 0 0 / 15%);
    --ring: theme(colors.emerald.700);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  .twinFlame {
    --global-background: theme(colors.stone.200);
    --index-background: theme(colors.stone.700);
    --index-background2: theme(colors.stone.100);

    --background: theme(colors.stone.100);
    --foreground: theme(colors.stone.900);

    --primary: theme(colors.pink.200);
    --primary-foreground: theme(colors.stone.900);

    --secondary: theme(colors.pink.500);
    --secondary-foreground: oklch(0.985 0 0);

    --accent: theme(colors.pink.400);
    --accent-foreground: oklch(0.985 0 0);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    --destructive: theme(--color-red-500);
    --border: oklch(0.922 0 0);
    --input: theme(colors.stone.100);
    --ring: theme(colors.pink.500);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
  .oracle {
    --global-background: theme(colors.zinc.950);
    --index-background: theme(colors.pink.950);
    --index-background2: theme(colors.zinc.950);

    --background: theme(colors.zinc.600);
    --foreground: theme(colors.white);

    --primary: theme(colors.zinc.900);
    --primary-foreground: theme(colors.white);

    --secondary: theme(colors.pink.500);
    --secondary-foreground: theme(colors.white);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: theme(colors.pink.800);
    --accent-foreground: theme(colors.white);

    --destructive: theme(--color-rose-500);
    --border: oklch(1 0 0 / 10%);

    --input: oklch(1 0 0 / 15%);
    --ring: theme(colors.pink.700);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  .magician {
    --global-background: theme(colors.gray.900);
    --index-background: theme(colors.indigo.950);
    --index-background2: theme(colors.gray.900);

    --background: theme(colors.gray.800);
    --foreground: theme(colors.white);

    --primary: theme(colors.gray.900);
    --primary-foreground: theme(colors.white);

    --secondary: theme(colors.red.800);
    --secondary-foreground: theme(colors.white);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);

    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);

    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);

    --accent: theme(colors.red.800);
    --accent-foreground: theme(colors.white);

    --destructive: theme(--color-red-500);
    --border: oklch(1 0 0 / 10%);

    --input: oklch(1 0 0 / 15%);
    --ring: theme(colors.red.800);

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
  .guide {
    --global-background: theme(colors.gray.500);
    --index-background: theme(colors.red.700);
    --index-background2: theme(colors.gray.500);

    --background: theme(colors.gray.900);
    --foreground: theme(colors.gray.100);

    --primary: theme(colors.zinc.100);
    --primary-foreground: theme(colors.gray.900);

    --secondary: theme(colors.red.400);
    --secondary-foreground: oklch(0.985 0 0);

    --accent: theme(colors.red.300);
    --accent-foreground: oklch(0.985 0 0);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    --destructive: theme(--color-red-600);
    --border: oklch(0.922 0 0);
    --input: theme(colors.gray.100);
    --ring: theme(colors.red.300);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
}
